.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover{
      background-color: crimson;
  }
  body {
    margin-right: 200px;
    margin-left: 200px; 
    
    border: #333;
    border-width: 20px;
  }
  H1 {
    text-align: center;
  }
  